<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%=post.title%> - Handerstand</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="<%='https://www.googletagmanager.com/gtag/js?id='+process.env.GOOGLE_ANALYTICS %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= process.env.GOOGLE_ANALYTICS %>');
</script>

	<meta name="title" content="<%=post.title%> - Handerstand">
	<meta name="description" content="<%=post.description%>">
	<meta property="og:title" content="<%=post.title%>">
	<meta property="og:description" content="<%=post.description%>">
	<meta property="og:url" content="<%=process.env.URL+'/'+post.url%>">
	<meta property="og:type" content="article">

	<script src="/js/prism.js"></script>
	<link rel="stylesheet" href="/css/prism.css">
	<link rel="stylesheet" href="/css/post.css">
</head>
<body>
	<div class="container_main">
		<div class="container">
			<div class="main">
				<div class="right">
					<article class="post_container">
						<header class="post_header">
							<h1 class="post_title"><%= post.title %></h1>
							<h2 class="post_description"><%= post.description %></h2>
							<% include myfunctions.ejs %>
							<p class="post_date"><%= genDate(post.date) %></p>
						</header>
						<div class="post_content">
						<%- post.body %> 
						</div>
					</article>
				</div>
				<aside>
						<a href="/" style="text-decoration-color: #64c37d"><div style="display:flex;flex-direction: row">
								<img src="/img/logo.svg" class="logo" alt="">
								<span style="color: #343434;line-height: 50px;font-size: 28px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: 600">anderstand</span>
						</div></a>
						<br>
					<input type="search" placeholder="Search">
					
					<h4>Tags</h4>	
					<ul>
						<% post.tags.forEach(function(i){ %>
							<a href="/<%=i%>"><li><%=i.split("-").join(" ")%></li></a>
						<% }) %>
					</ul>

					<!--<div class="table_of_content">
							<h4>Content</h4>	
							<ul>
								<li><a href="#">Accept input from a command line in node </a></li>
								<li><a href="#">How it's gonna end </a></li>
							</ul>
					</div>-->
						
					<% if(others.length>0){ %>
						<h4>Other Posts</h4>
					<% } %>	
					<ul>
						<% others.forEach(function(i){ %>
							<a href="/<%= i.url %>"><li><%= i.title %></li></a>
						<% }) %>
						
					</ul>
				</aside>
			</div>
		</div>
	</div>
</body>
</html>